body {
    background-color: rgb(111, 127, 127);
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    text-align: center;
    font-size: xx-large;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
}

#box {
    font-family: Calibri;
    background-color: rgb(224, 240, 189);

}

#not {
    background-color: rgb(184, 204, 226);
    font-family: Arial;
}