h2 {
    color: rgb(231, 239, 246);
    width: 50%;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

div {
    color: rgb(227, 131, 131);
    background-color: rgb(219, 238, 179);
}

body {
    background-color: rgb(175, 208, 208);
}